/.vscode
frontend
pipeline
node_modules
deploy
.dockerignore
.git
.eslint*
.git*
.prettierrc
tsconfig.json
tsconfig.test.json
**/src
**/test
**/node_modules
**/.git*
**/tsconfig.json
**/tsconfig.test.json
**/nodemon.json
**/.env